@using GetFit.ViewModels;
@model List<UserVM>

<div class="py-3" >
    <h3>People</h3>
</div>
<div class="grid-con" style="grid-template-columns: 1fr 1fr 1fr 1fr 1fr;">
    @foreach (var user in Model)
    {
        <div class="card d-flex align-items-center justify-content-evenly py-3" style="width: 13rem;">
            <div style="display:flex; width:100px; height:100px; border-radius:50%; overflow:hidden;">
                <img src="@user.ProfileImageUrl" alt="ProfileImg" />
            </div>
            <p class="p-2" style="text-align:center">@user.UserName</p>
            <a class="btn btn-info" asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">View</a>
        </div>
    }
</div>