@using GetFit.Data.Enum;
@using GetFit.ViewModels;
@model CreateHomeVM

<h4>Workout</h4>
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId" />
    <div class="form-group">
        <label class="form-label" asp-for="Title">Title</label>
        <input class="form-control" asp-for="Title" placeholder="Gym Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="Description">Description</label>
        <input class="form-control" asp-for="Description" placeholder="Description" />
        <span asp-validation-for="Description"></span>
    </div>


    <div class="form-group">
        <label class="form-label" asp-for="HomeCategory">Gym Category</label>
        <select class="form-control" asp-for="HomeCategory" asp-items="@Html.GetEnumSelectList<HomeCategory>()">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="HomeCategory"></span>
    </div>

    <div class="my-3">
        <h5>Address</h5>
        <div class="form-group">
            <label class="form-label" asp-for="Address.Street">Street</label>
            <input class="form-control" asp-for="Address.Street" placeholder="Street" />
            <span asp-validation-for="Address.Street"></span>
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="Address.City">City</label>
            <input class="form-control" asp-for="Address.City" placeholder="City" />
            <span asp-validation-for="Address.City"></span>
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="Address.State">State</label>
            <input class="form-control" asp-for="Address.State" placeholder="State" />
            <span asp-validation-for="Address.State"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label" asp-for="Image">Image</label>
        <input class="form-control-file" type="file" asp-for="Image" />
        <span asp-validation-for="Image"></span>
    </div>
    <button class="btn btn-primary my-3" type="submit">Create</button>
</form>