@using GetFit.Data.Enum;
@using GetFit.ViewModels;
@model Gym

<h2>Are you going to delete this gym?</h2>
<div class="d-flex">
    <form action="Delete" method="post">
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
            <input class="btn btn-dark" type="submit" value="Confirm" />
        </div>
    </form>
    <a class="btn btn-outline-secondary mx-3" asp-area="" asp-controller="Dashboard" asp-action="Index">Cancel</a>
</div>